.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 5em;
 }

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */