.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: red;
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 5em;
 }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#root {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}