.sidenav a {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(0,0,0,0.45);
    text-transform: uppercase;
    transition: color .15s linear;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.sidenav a:hover {
    color: white;
}


@media only screen and (max-width: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {
        font-size: 3em;
        color: white;
    }
}