#welcome-section {
    position: fixed;
    min-width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    text-transform: uppercase;
    text-align: left;
}

#canvas-layer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #fff;
    z-index: -1;
}

#canvas {
    height: 100vh;
    left: 0;
    opacity: .075;
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: -1;
}

.welcome-container {
    position: absolute;
    z-index: 5;
    color: var(--main-color);
    left: 10%;
    top: 50%;
}

#welcome-section h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.15;
    margin-top: 0.25em;
    color: var(--main-color);
    padding-right: 5%;
}

#welcome-section h3 {
    margin: 1%;
}

#welcome-section p {
    margin: 0;
}


/* Scroller */
.scroll-downs {
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -9px;
}

.mousey {
    height: 16px;
    padding: 5px 5px 0 5px;
    border: 5px solid var(--main-color);;
    border-radius: 25px;
    opacity: 0.8;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 5px;
    border-radius: 25%;
    background-color: var(--main-color);;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/* End Scroller */

