#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(129, 118, 118, 0.808);
    color: red;
    background-image: url(../images/main-background.jpg);
}

/* Scroller */
.scroll-downs {
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -9px;
}

.mousey {
    height: 16px;
    padding: 5px 5px 0 5px;
    border: 2px solid red;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 5px;
    border-radius: 25%;
    background-color: red;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/* End Scroller */