#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: -1;
    position: fixed;
    min-width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-image: url(../images/main-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(129, 118, 118, 0.808);

    color: red;
    text-transform: uppercase;
    text-align: left;
}

.welcome-container {
    margin-left: 10%;
    margin-top: 30%;
}

#welcome-section h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
}

#welcome-section h3 {
    margin: 1%;
}

#welcome-section p {
    margin: 0;
}

/* Scroller */
.scroll-downs {
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -9px;
}

.mousey {
    height: 16px;
    padding: 5px 5px 0 5px;
    border: 2px solid red;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 5px;
    border-radius: 25%;
    background-color: red;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/* End Scroller */